
<mat-form-field>
  <mat-label>{{field.label}}</mat-label>
  <input
    [required]="field.required"
    [type]="passwordTextHidden ? 'text' : 'password'"
    matInput
    [placeholder]="placeholder"
    (input)="onPasswordChanged($event)"
    class="password-input"
  >
  <mat-icon class="icon-pointer" (click)="togglePasswordTextType($event)" *ngIf="passwordTextHidden" matSuffix>visibility</mat-icon>
  <mat-icon class="icon-pointer" (click)="togglePasswordTextType($event)" *ngIf="!passwordTextHidden" matSuffix>visibility_off</mat-icon>

  <app-error [form]="form" [field]="field"></app-error>

</mat-form-field>
