.top-container {
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  background-color: #333;
}

main {
  margin: auto;
}

.cover-container {
  max-width: 42em;
}
