<main class="bg-light p-3">
  <div class="position-relative overflow-hidden text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">XM Assignment</h1>
      <p class="lead fw-normal">
        Click on the button below to check out the reusable registration page.
        Make sure that the NodeJS server is running.
      </p>
      <a class="register-button btn btn-outline-secondary" [routerLink]="['/', 'register']">
        Register Now
      </a>
    </div>
    <div class="dashboard-device shadow-sm d-none d-md-block"></div>
  </div>

</main>
